/_Exercises/
/01 Introduction/
/02 The Basics/
/03 More on Data Types/
/04 Functions/
/05 Classes and Objects/
/06 Modules and Packages/
/07 Installing Modules and Packages/
/08 File IO/
/09 Exception Handling/
/10 Advanced Language Techniques/
/11 Decorators/
/12 Regular Expressions/
/13 Inheritance/
/14 More Object Orientation/
/15 Testing/
/16 Threading and Concurrency/
/17 Scientific Python/
/18 Financial Python/
/19 Extending and Embedding/
/20 Operator Overloading/
/21 Networking/
/22 JSON and XML/
/23 Miscellaneous Topics/
/24 Git/
/25 Oracle Database/
/26 Work in progress/
/27 Database/
/28 Bridge/
/29 Games/
/_Resources/
/backup.tar
/old/
*.xlsx

